/* typing */
.line{
    border-right: 2px solid var(--txt);
    color: var(--txt);
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
}
.txt{
    display: flex;
    justify-content: center;
    font-family: 'Source Sans Pro';
    margin: -370px 0 0 0;
    border-radius: 4px;
    box-sizing: border-box;
}
.typing-animation{
    animation: blinkCursor 500ms steps(40) infinite normal,
                    typing .7s steps(40) .7s normal both;
}

@keyframes typing{
    from{
        width: 0;
    }
    to{
        width: 97px;
    }
}
@keyframes blinkCursor{
    form{
        border-right-color: var(--txt);
    }
    to{
        border-right-color: transparent;
    }
}

.align{
    margin: 300px 0 50px 0;
    padding: 8% 30px;
    justify-content: center;
    flex-direction: column;
    background: var(--bg-txt);
    border-radius: 20px;
    opacity: .8;
}
.align h3{
    margin-bottom: 20px;
}

.icons{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    display: grid;
    height: 100%;
    width: 100%;
    place-items: center;
}
.icons a{
    text-decoration: none;
}
.wrapper .button{
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 0 30px;
    overflow: hidden;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 5px 5px 5px var(--solid);
    transition: all 0.3s ease-out;
}
.wrapper .button:hover{
    background: var(--bg-txt);
    width: 200px;
}
.wrapper .button .icon{
    display: inline-block;
    height: 60px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    transition: all 0.3s ease-out;
}
    /* background */
.wrapper .button:nth-child(1):hover .icon{
    background: var(--icon1);
}
.wrapper .button:nth-child(2):hover .icon{
    background: var(--icon2);
}
.wrapper .button:nth-child(3):hover .icon{
    background: var(--icon3);
}
.wrapper .button:nth-child(4):hover .icon{
    background: var(--icon4);
}
.wrapper .button .icon i{
    font-size: 25px;
    line-height: 60px;
    transition: all 0.3s ease-out;
}
.wrapper .button:hover .icon i{
    color: var(--links);
}
.wrapper .button span{
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
    transition: all 0.3s ease-out;
}
/* letter */
.wrapper .button:nth-child(1) span{
    color: var(--icon1);
}
.wrapper .button:nth-child(2) span{
    color: var(--icon2);
}
.wrapper .button:nth-child(3) span{
    color: var(--icon3);
}
.wrapper .button:nth-child(4) span{
    color: var(--icon4);
}

@media screen and (max-width: 950px){
    .wrapper .button{
        display: flex;
        flex-direction: column;
        margin: 30px 10px;
        text-align: center;
    }
    .wrapper .button .icon{
        width: none;
    }
    .wrapper .button:hover{
        width: 150px;
    }
}
@media screen and (min-width: 950px){
    .wrapper .button .icon{
        width: 60px;
    }
}
